<html>
    <head>
	<meta name="google-site-verification" content="qlOad8OckU6FnH0WTgNPPW6HXZ_pNJ8EaXMAPAc7Y5I" />
        <title>Techsetters</title>
    </head>

    <body>
 <!--  <iframe width="560" height="315" src="https://www.youtube.com/embed/VBmMU_iwe6U" frameborder="0" allowfullscreen></iframe>
<img src="../static/img/techsetterslogo.jpg" style="width:800.8px; height:819.2px;">
-->  
 </body> 



{% extends "base.html" %}
{% block results %}


<section class="module parallax parallax-9">
  <div class="container">

</div>
</section>

<section class="module content">
  <div class="container" style="background-color:#fafafa;">
<p>
setting the latest trends // starring creators, leaders, investors</p>
<p>
We want to inspire the next generation of tech inventors, students, and consumers through informative content featuring the stories of leaders in the industry.</p>
	
<h1>VIDEOS COMING SOON...</h1>

<a href="https://twitter.com/techsetters_io" class="twitter-follow-button" data-show-count="false">Follow @techsetters_io</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>


  </div>
</section>


{% endblock %}

</html>
