{% extends "base.html" %}
{% block results %}


<section class="module content">
  <div class="container">
	<h2>About</h2>    


<p><strong>Motivation:</strong> I wanted to examine the ways in which people are using social media to bolster personal connections with others as well as strengthen their own identity in what they choose to post and share with others. I chose to examine twitter data and use natural language processing to determine the sentiment of tweets related to Tibet. I choose to then overlay this data with data related to the location of Tibetan monasteries around the world, data that was collected by students in past semesters. I wanted to use accessible and meaningful data that might be contextualized and provide some insight into the ways in which social media is used by people to connect to Tibet. 
</p>

<p><strong>Process:</strong> It was challenging to find a reasonable set of data, but once I choose to use twitter data, I was able to curate a month’s worth of tweets related to Tibet, and then use natural language processing to determine the sentiment of the tweet and contextualize the information by using the geo location of the tweet. 

</p>


</div>
</section>

<section class="module parallax parallax-9">
  <div class="container">
  </div>
</section>


{% endblock %}
